@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Poppins:wght@300&display=swap');


* {
    padding: 0;
    margin: 0;
}

html , body {
    height: 100%;
    width: 100%;
}
a {
    color: white;
    text-decoration: none;
}
body {
    background-image: url("./images/r63SgBG.jpg");
    background-size: cover;
    background-position: center center;
    font-family: 'Poppins', sans-serif;
    
    /* align-items: ; */


}
.nav-bar {
    margin-top: 10px;
    padding: 5px;
    display: flex;
    justify-content: center;
}

.nav-ul {
    color: white;
    font-size: 1.75rem;
    list-style: none;
    display: flex;
}

.nav-ul > li {
    margin-left: 20px;
}

.main-section {
    margin-top: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cd-title {
    color: white;
    font-size: 3rem;
}

.cd-div {
    margin-top: 30px;
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cd-div > div > span:nth-of-type(1) {
    font-size: 2.5rem;
    color: white;
}

.cd-div > div > span:nth-of-type(2) {
    color: white;
    font-size: 1.5rem;
} 

.cd-div > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}